/* PHASE 11: Icons */
[class*="icon-"] {
    background-image: url('https://assets.aaonline.io/fullstack/html-css/micro-projects/css-friends/docs/images/sprite.png');
    background-size: 25px 250px;
    display: inline-block;
    width: 25px;
    height: 0px;
    overflow: hidden;   
    padding-top: 25px;
}
.icon-comment {

}

.icon-reblog {
    background-position:left 0px top -100px;
}

.icon-favorite {
    background-position:left 0px top -50px;

}

.icon-comment:hover {
    background-position:left 0px top -25px;

}

.icon-reblog:hover {
    background-position:left 0px top -125px;
}

.icon-favorite:hover {
    background-position:left 0px top -75px;

}

[class*="icon-small-"] {
    background-image: url('https://assets.aaonline.io/fullstack/html-css/micro-projects/css-friends/docs/images/sprite.png');
    background-size: 25px 250px;
    display: inline-block;
    width: 20px;
    height: 0px;
    overflow: hidden;   
    padding-top: 20px;
}

.icon-small-wall {
    background-position:left 0px top -225px;

}

.icon-small-friends {
    background-position:left 0px top -150px;
}

.icon-small-about {
    background-position:left 0px top -175px;

}
.icon-small-photos {
    background-position:left 0px top -200px;

}


